.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

/* card styles */
.card .card-image img {
    object-fit: cover;
    height: 40vh;
}

.btn-small {
    margin-top: 15px;
    margin-bottom: 15px;
}