{% extends "base.html" %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align teal-text text-darken-4">
                    {{ username }}'s Profile
                </h3>
                <br>
                <br>
                <button data-target="modal1" class="btn-large teal accent-1 teal-text text-darken-4 modal-trigger"><strong>My HairStyle </strong><i class="fas fa-face-grin prefix teal-text text-darken-4"></i></button>
                <a href="{{ url_for('add_hairstyle') }}" class="btn-large teal darken-4">Add hairstyle <i class="fas fa-plus-square right"></i></a>
            </div>
        </div>
    </div>

{% endblock %}